.form__title {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.form__desc {
  text-align: center;
}

.form__row_controls {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.form__label-name {
  font-size: 13px;
  line-height: 2;
  white-space: nowrap;
  color: #5a5a5a;
}

.form__input {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #464646;
  line-height: 20px;
  border: none;
  outline: none;
}

.form__input_type_text {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #f0f2f5;
  border-radius: 3px;
}

.form__textarea {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #f0f2f5;
  border-radius: 3px;
  resize: none;
}

.form__input_type_text:focus,
.form__textarea:focus {
  background-color: #f6f7f9;
}

.form__input_warn {
  background-color: lighten($colorRed, 40%);
  background-image: url(../images/warning.svg);
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.form__input_warn:focus {
  background-color: lighten($colorRed, 41%);
}

.form__control-button {
  min-width: 100px;
}

.form__control-button:not(:last-of-type) {
  margin-right: 10px;
}
