.grabbing *,
.grabbing *::before,
.grabbing *::after {
  cursor: grabbing !important;
}

.anim-move-bottom {
  animation-fill-mode: both;
  animation: move-bottom .15s ease-in-out;
}

@keyframes move-bottom {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
