.title {
  font-weight: bold;
  color: $colorBlack;
  line-height: 1.5;
}

.title_size_xl {
  font-size: 32px;
}

.title_size_l {
  font-size: 24px;
}

.title_size_m {
  font-size: 18px
}

.title_size_s {
  font-size: 16px;
}

.title_color_red {
  color: $colorRed;
}

.title_color_violet {
  color: $colorViolet;
}

.text {
  font-size: 13px;
}

.text_color_gray {
  color: $colorGray;
}
