.title {
  font-weight: bold;
  line-height: 2;
}

.title_size_xl {
  font-size: 32px;
}

.title_size_l {
  font-size: 24px;
}

.title_size_m {
  font-size: 18px
}

.title_size_s {
  font-size: 16px;
}
