$colorBlack: #333333;
$colorBlue: #1b84ff;
$colorBlueDark: #1a75f0;
$colorBlueLightest: #e1effc;
$colorRed: #e64552;
$colorViolet: #6152ea;
$colorGreenCold: #1ad1a1;
$colorGreenWarm: #6cd500;
$colorBg: #a298ff;
$colorBgLight: #f0f0f5;
$colorBgLightest: #f5f5fa;
